# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mexw64
*.mexw32
*.mexa64

# data
*.mat

# img path
VOCdevkit/*
BSDS300/*
output/*
mat/*
dtbb/*

# images
*.jpg
*.jpeg
*.bmp
*.png


# tmp2
*.tmp2


